<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <RepoMapping xdt:Transform="Replace">
    <!--Use this section to map the Aeon site name to the ASpace repository code. BRBL is BRBL-->
    <add key="ProdAeonSite" value="ProdASpaceRepoCode"/>
  </RepoMapping>
  <appSettings xdt:Transform="Replace">
    <add key="VgerApiAddress" value="Prod_Value"/>
    <add key="archivesSpaceApiUri" value="Prod_Value"/>
    <add key="archivesSpaceUsername" value="Prod_Value"/>
    <add key="archivesSpacePassword" value="Prod_Value"/>
    <add key="defaultRepositoryCode" value="Prod_Value"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xdt:Transform="Replace">
    <targets async="true">
      <target xsi:type="File" name="f" fileName="d:/logs/aspaceMiddlewareProd-${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=toString,Data}|"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="f"/>
    </rules>
  </nlog>
</configuration>